* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
    font-weight: 500;
    color: #737373;
}

hr {
    height: 10px;
    border: none;
    background: rgb(42, 40, 40);
}

.mini-container {
    padding: 130px 12% 100px;
}

/* hero block*/

.container_main_screen {
    overflow: hidden;
    position:relative;
    background: linear-gradient(to bottom, rgb(0, 0, 0, .8), rgb(0, 0, 0, .4), rgba(0, 0, 0, .8));
}

.bg_main_screen {
    position: absolute;
    background: url(../img/CY-en-20220718-popsignuptwoweeks-perspective_alpha_website_large.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.logo_menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 55px;
}

.logo {
    width: 10%;
    height: auto;
}

.sign_in_btn {
    height: 100%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.main_page_content_box {
    display: flex;
    justify-content: center;
}

.main_page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 180px;
    width: 45%;
    height: auto;
}

.big_text_center {
    text-align: center;
}

.medium_text_center {
    text-align: center;
    margin-top: 30px;
    font-weight: 100;
}

.small_text_center {
    text-align: center;
    margin-top: 30px;
    font-weight: 100;
}

.email_block {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.email_field {
    flex: 1;
    border: none;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
}

.email_btn {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    border: none;
    background: rgba(255, 0, 0, 0.915);
    padding: 20px 40px;
    background-size: 30px;
    cursor: pointer;
}

.arrow_img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.email_btn:hover {
    background-color:red;
}

/* tv-block */

.box_tv {
    display:flex;
    align-items:center;
    justify-content: center;
}

.tv_img {
    width: 100%;
    height: auto;
}

.box_tv_text .medium_text_box_tv {
    margin-top: 20px;
    font-weight: 100;
}

/* download block */

.box_download {
    display:flex;
    align-items:center;
    justify-content: center;
}

.download_img {
    width: 100%;
    height: auto;
}

.box_download_text {
    padding-left: 250px;
}

.box_download_text .medium_text_box_download {
    margin-top: 20px;
    font-weight: 100;
}

/* devices block */

.box_devices {
    display:flex;
    align-items:center;
    justify-content: center;
}

.devices_img {
    width: 100%;
    height: auto;
}

.box_devices_text {
    padding-right: 100px;
}

.box_devices_text .medium_text_box_devices {
    margin-top: 20px;
    font-weight: 100;
}

/* kids block */

.box_kids {
    display:flex;
    align-items:center;
    justify-content: center;
}

.kids_img {
    width: 100%;
    height: auto;
}

.box_kids_text {
    padding-left: 100px;
}

.box_kids_text .medium_text_box_kids {
    margin-top: 20px;
    font-weight: 100;
}

/* questions block */

.container_questions {
    padding: 100px 22% 40px;
}

.box_questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQ_title {
    padding-bottom: 50px;
}

.q_container {
    margin-top: 10px;
    width: 100%;
}

.question {
    padding: 30px;
    margin-bottom: 1px;
    background-color: #303030;
    position: relative;
    cursor: pointer;
}

.question h3 {
    font-weight: 100;
}

.answer {
    padding: 30px;
    background-color: #303030;
    display: none;
    
}

.answer h3 {
    font-weight: 100;
}

.open_close {
    position: absolute;
    right: 30px;
    top: 32.5px;
    height: 30px;
}

.plus {
    width: 35px;
    height: auto;
}

.ready_to_watch_bottom_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.ready_to_watch_bottom {
    width: 45%;
}

.q_container.show .answer {
    display: block;
}

.q_container.show .open_close {
    transform: rotate(45deg);
}

/* modal */

.container_modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.hide {
    display: none;
}

.box_form {
    background: black;
    z-index: 2;
    border-radius: 5px;
    padding: 80px 80px;
    width: 45%;
    position: relative;
    overflow-y: auto;
    
}

.box_form input {
    color: white;
}

.form_title {
    padding-bottom: 30px;
}

.personal_info_field {
    width: 100%;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background: #333;
    font-size: 18px;
    padding-left: 20px;;

}

.submit_btn {
    background: red;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.submit_btn:active {
    background: rgba(255, 0, 0, 0.915);
}

.remember_me {
    display: flex;
    justify-content: space-between;
}

.check {
    display: flex;
    align-items: center;
}

.tick_box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.new_to_Netflix {
    color: #737373;
    margin: 40px 0 10px 0;
}

a {
    color: rgb(97, 97, 150)
}

.close_btn {
    background: url(../img/cancel.png) no-repeat center center/cover;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 3;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

/* footer */

.footer_menu {
    padding: 5% 20%;
    
}

.questions_footer {
    font-size: 20px;
    color: #737373;
    text-decoration: none;
}

.questions_footer:hover {
    text-decoration: underline;
}

.colmns_layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 30px 0;
}

.colmn {
    display: flex;
    flex-direction: column;
}

.colmn a {
    padding-top: 20px;
    color: #737373;
    text-decoration: none;
}

.colmn a:hover {
    text-decoration: underline;;
}

.Netflix_Cy {
    color: #737373;
    text-decoration: none;
}

/* media smartphones */

@media(max-width: 500px) {
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size: 15px;
    }


    /* hero block media smartphones */

    .logo_menu {
        padding: 20px 20px;
    }

    .sign_in_btn {
        font-size: 15px;
        padding: 5px 10px;
    }

    .logo {
        width: 28%;
    }

    .main_page_content {
        width: 90%;
        margin: 60px 20px;
    }

    .medium_text_center {
        margin-top: 15px;
    }
    
    .small_text_center {
        margin-top: 15px;
    }

    .email_block {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .email_field {
        font-size: 15px;
        padding: 15px;
        width: 100%;
        margin-bottom: 30px;
    }

    .email_btn {

        font-size: 18px;
        padding: 8px 10px;
    }
    
    .arrow_img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }

    .mini-container {
        padding: 80px 12% 60px;
    }
    
    /* tv-block media smartphones */

    .box_tv {
        display:flex;
        flex-direction: column;
    }

    .box_tv_text {
        text-align: center;
        padding-bottom: 30px;
    }

    /* download block media smartphones */

    .box_download {
        display:flex;
        flex-direction: column-reverse;
    }

    .box_download_text {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    /* devices block media smartphones*/

    .box_devices {
        display:flex;
        flex-direction: column;
    }

    .box_devices_text {
        text-align: center;
        padding-bottom: 30px;
        padding-right: 0px;
    }

    /* kids block media smartphones*/

    .box_kids {
        display:flex;
        flex-direction: column-reverse;
    }

    .box_kids_text {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    /* questions block media smartphones*/

    .container_questions {
        padding: 40px 0;
    }

    .FAQ_title {
        padding: 20px;
        text-align: center;
    }

    .q_container {
        margin-top: 5px;
    }

    .question {
        padding: 20px;
    }

    .answer {
        padding: 20px;
        
    }

    .open_close {
        right: 20px;
        top: 23px;
        height: 20px;
    }

    .plus {
        width: 20px;
    }
    
    .ready_to_watch_bottom {
        width: 90%;
    }

    /* modal media iphones*/

    .container_modal {
        background: rgba(0, 0, 0);
    }

    .box_form {
        height: 100%;
        width: 100%;
        padding: 80px 20px;
    }

    .form_title {
        padding-bottom: 40px;
    }

    .form_title h3 {
        font-size: 30px;
    }

    .personal_info_field {
        width: 100%;
        height: 50px;
        font-size: 15px;
        padding-left: 20px;
        margin-bottom: 40px;

    }

    .submit_btn {
        font-size: 15px;
        font-weight: 600;
        padding-left: 0px;
        color: white;
        margin-bottom: 15px;

    }

    .tick_box {
        width: 15px;
        height: 15px;
    }

    .close_btn {
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;

    }

    /* footer smartphones */

    .questions_footer {
        font-size: 15px;
    }

    .footer_menu {
        padding: 5% 10%;
    }

    .colmns_layout {
        grid-template-columns: repeat(2, 1fr);
    }

    .colmn a {
        padding-top: 8px;
        font-size: 12px;
    }

    .Netflix_Cy {
        font-size: 12px;
    }
}

/* media smartphones ipads */

@media(min-width: 501px) and (max-width: 912px) {
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }

    /* hero block media ipad */

    .logo_menu {
        padding: 30px 30px;
    }

    .sign_in_btn {
        font-size: 18px;
        padding: 5px 10px;
    }

    .logo {
        width: 15%;
    }

    .main_page_content {
        width: 60%;
        margin: 100px 0px;
    }

    .medium_text_center {
        margin-top: 15px;
    }
    
    .small_text_center {
        margin-top: 15px;
    }

    .email_block {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .email_field {
        font-size: 15px;
        padding: 15px;
        width: 100%;
        margin-bottom: 30px;
    }

    .email_btn {

        font-size: 18px;
        padding: 8px 10px;
    }
    
    .arrow_img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }

    .mini-container {
        padding: 80px 12% 60px;
    }

    /* tv-block media ipad */

    .box_tv {
        display:flex;
        flex-direction: column;
    }

    .box_tv_text {
        text-align: center;
        padding-bottom: 30px;
    }

    /* download block media ipad */

    .box_download {
        display:flex;
        flex-direction: column-reverse;
    }

    .box_download_text {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    /* devices block media ipad*/

    .box_devices {
        display:flex;
        flex-direction: column;
    }

    .box_devices_text {
        text-align: center;
        padding-bottom: 30px;
        padding-right: 0px;
    }

    /* kids block media ipad*/

    .box_kids {
        display:flex;
        flex-direction: column-reverse;
    }

    .box_kids_text {
        text-align: center;
        padding-bottom: 30px;
        padding-left: 0px;
    }

    /* questions block media ipad*/

    .container_questions {
        padding: 40px 0;
    }

    .FAQ_title {
        padding: 20px;
        text-align: center;
    }

    .q_container {
        margin-top: 5px;
    }

    .question {
        padding: 20px;
    }

    .answer {
        padding: 20px;
        
    }

    .open_close {
        right: 20px;
        top: 23px;
        height: 20px;
    }

    .plus {
        width: 20px;
    }
    
    .ready_to_watch_bottom {
        width: 60%;
    }

    /* modal ipad */

    .container_modal {
        background: rgba(0, 0, 0);
    }

    .box_form {
        height: 100%;
        width: 100%;
        padding: 80px 20%;
    }

    .form_title {
        padding-bottom: 40px;
    }

    .form_title h3 {
        font-size: 30px;
    }

    .personal_info_field {
        width: 100%;
        height: 50px;
        font-size: 15px;
        padding-left: 20px;
        margin-bottom: 40px;

    }

    .submit_btn {
        font-size: 15px;
        font-weight: 600;
        padding-left: 0px;
        color: white;
        margin-bottom: 15px;

    }

    .tick_box {
        width: 15px;
        height: 15px;
    }

    .close_btn {
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;

    }

    /* footer ipad */

    .footer_menu {
        padding: 5% 10%;
    }
}

/* media widescreen */

@media(min-width: 913px) and (max-width: 1180px) {
    h2 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 20px;
    }

    /* hero block media widescreen */

    .logo_menu {
        padding: 30px 40px;
    }

    .sign_in_btn {
        font-size: 18px;
        padding: 5px 10px;
    }

    .logo {
        width: 13%;
    }

    .main_page_content {
        width: 60%;
        margin: 100px 0px;
    }

    .medium_text_center {
        margin-top: 15px;
    }
    
    .small_text_center {
        margin-top: 15px;
    }

    .email_block {
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    .email_field {
        flex: 1;
        font-size: 18px;
        padding: 10px;
    }
    
    .email_btn {
        font-size: 25px;
        padding: 15px 20px;
        background-size: 30px;

    }
    
    .arrow_img {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .mini-container {
        padding: 80px 6% 60px;
    }

    /* download block media widescreen */

    .box_download_text {
        padding-left: 150px;
    }

    /* questions block media widescreen */

    .container_questions {
        padding: 100px 15% 40px;
    }

    .plus {
        width: 30px;
        height: auto;
    }

    .ready_to_watch_bottom {
        width: 65%;
    }

    /* modal media widescreen */
    
    .container_modal {
        top: 0px;
        background: rgba(0, 0, 0);
    }
    
    
    .box_form {
        background: black;
        padding: 80px 80px;
        width: 100%;
    }

    .close_btn {
        right: 60px;
        top: 0px;
    }

}




